<h1><%= @team.name %></h1>

<p>Coach: <%= link_to @team.coach.name, coach_path(@team.coach) if @team.coach %></p>
<h2>Players:</h2>
<ul>
  <% @team.players.each do |player| %>
    <li><%= link_to player.name, player_path(player) %></li>
  <% end %>
</ul>

