<h1>Positions</h1>

<ul class="list-group">
  <% @positions.each do |position| %>
    <li class="list-group-item">
      <%= link_to position.name, position_path(position) %>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'About', about_path %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Home', root_path %>
  </li>
</ul>