<h1>Competitions</h1>

<ul>
  <% @competitions.each do |competition| %>
    <li>
      <%= link_to competition.name, competition_path(competition) %>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <%= link_to 'About', about_path %>
  </li>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
</ul>