<h1>Competitions</h1>

<ul class="list-group">
  <% @competitions.each do |competition| %>
    <li class="list-group-item">
      <%= link_to competition.name, competition_path(competition) %>
    </li>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item">
    <%= link_to 'About', about_path %>
  </li>
  <li class="list-group-item">
    <%= link_to 'Home', root_path %>
  </li>
</ul>