<h1>Coaches</h1>

<ul>
  <% @coaches.each do |coach| %>
    <li>
      <%= link_to coach.name, coach_path(coach) %>
      - Team: <%= coach.team.name %>
    </li>
  <% end %>
</ul>

<ul>
  <li>
    <%= link_to 'About', about_path %>
  </li>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
</ul>