<h1>About the Application</h1>

<h2>Data Sources: </h2>
<p>
  This application uses Faker to generate football-related data.
  Faker is a Ruby library that provides a variety of data types,
  allowing developers to create fake data for testing and development purposes such as this!.
</p>

<h3>Football Data Overview</h3>
<p>
  The football data includes various information such as teams, players, coaches,
  positions, and competitions. Each player is associated with a team and has
  a specific position. Coaches are linked to their respective teams, and
  competitions represent the tournaments in which the teams participate in.
</p>

<h3>Faker Football Data Structure</h3>
<ul>
  <li><strong>Teams:</strong> Includes attributes like name and coach.</li>
  <li><strong>Players:</strong> Each player has a name, position, and is associated with a team.</li>
  <li><strong>Coaches:</strong> Coaches are assigned to specific teams.</li>
  <li><strong>Positions:</strong> Positions include attributes to describe the role of the player.</li>
  <li><strong>Competitions:</strong> Lists various tournaments and leagues.</li>
</ul>

<%= image_tag "project.drawio.png", alt: "ERD diagram" %>

<ul>
  <li>
    <%= link_to 'Home', root_path %>
  </li>
</ul>